[project]
name = "easy-abnt"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "aiohttp>=3.13.2",
    "isbnlib>=3.10.14",
    "pydantic>=2.12.4",
]
